player-connection-mode=Listen
player-connection-guid=1121016365
player-connection-debug=0
player-connection-project-name=Capstone(Game)
player-connection-ip=182.225.125.20
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=7545b2bd59144a57a4b0f4923780ac9e
