player-connection-mode=Listen
player-connection-guid=1704464229
player-connection-debug=0
player-connection-project-name=Capstone(Game)
player-connection-ip=182.225.125.20
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=170b903765844d9d9363fe0c84d3a668
